* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: darkslategray;
  font-family: 'Roboto', sans-serif;
}

.App {
  max-width: 80%;
  margin: 2rem auto;
}

/* @media (min-width: 700px) {
  .App {
    max-width: 1000px;
  }
} */

/* .container {
  display: flex;
  justify-content: center;
} */

.boxes-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.box-container {
  padding: 0.5rem;
}

.box {
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.controls {
  text-align: center;
  margin: 0 auto 1rem auto;
}

.controls h2 {
  color: lightcyan;
}

.btn {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid lightcyan;
  background: transparent;
  color: lightcyan;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.selected {
  /* transform: scale(0.95); */
  background-color: black;
}
